body
    .breaking-news-container-fluid  banner break row
    .container-fluid
        .row
            .col-3 left column
                .row  Lorem ipsum dolor sit amet.
                .row  Lorem ipsum dolor sit amet.
                .row  Lorem ipsum dolor sit amet.
            .col-6  center column
            .col-3  right column
                .row  Lorem ipsum dolor sit amet.
                .row  Lorem ipsum dolor sit amet.
                .row  Lorem ipsum dolor sit amet.
            .row
            .col-9 Lorem ipsum dolor sit amet.
            .col-3 Lorem ipsum dolor sit amet.

