.breaking-news-container(style='background-color: #CAE0D8;')
      h6 BOOKS
      .breaking-news
        p
          strong
            a(href='https://www.mcsweeneys.net/articles/phoenix-a-new-mini-book-by-dave-eggers-about-his-visit-to-an-arizona-trump-rally-at-which-dozens-of-citizens-freely-carried-ar-15s-hundreds-including-the-author-were-teargassed-and-miraculously-no-one-was-killed-or-wounded')
              | Download
              span.caps PHOENIX
              | , a new free mini-book by Dave Eggers
