main.o-content
    header
      .desktop-nav
        .search-container
          .search
            span.icons
              img.search-icon
            form(action='/articles/search' accept-charset='UTF-8' method='get')
              input(name='utf8' type='hidden' value='✓')
              input#q(type='search' name='q' placeholder='Search')
        .links-container
          ul
            li
              a(href='/') Internet Tendency
            li
              a(href='https://store.mcsweeneys.net') The Store
            li
              a(href='https://store.mcsweeneys.net/t/categories/books') Books Division
            li
              a(href='https://store.mcsweeneys.net/t/categories/timothy-mcsweeneys-quarterly-concern') Quarterly Concern
            li
              a(href='/donate') Donate
      .row
        .masthead-left-container.desktop
          .tagline
            a.home-patreon(href='https://www.patreon.com/mcsweeneysinternettendency')
              img(src='https://d3thpuk46eyjbu.cloudfront.net/uploads/production/3720/1538532886/public/patreon_buttonb.png?1538532886')
        .logo-container
          a(href='/')
            .logo-text
              span.logo-text-span
                | M
                span.smallcaps c
                | Sweeney&rsquo;s
            .logo-tagline
              span.desktop
                | Internet Tendency
                br
                br
                strong Celebrating our 21st Year!
              span.mobile Celebrating our 21st year of publishing daily humor almost every day.
        .masthead-right-container.desktop
          .tagline
            | Daily humor
            br
            | almost every day
            br
            | since 1998.
        .o-container.mobile
          .c-buttons
            button#c-button--push-top.c-button.menu-icon

//- .desktop-nav
//-   .search-container
//-     nav.navbar.navbar-light.bg-light
//-       form.form-inline
//-         input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
//-   .links-container
//-     ul.nav.justify-content-center
//-       li.nav-item
//-         a.nav-link.active(href="#") Internet Tendency
//-       li::after.nav-item
//-         a.nav-link.active(href="#") The Store
//-       li.nav-item
//-         a.nav-link.active(href="#") Books Division
//-       li.nav-item
//-         a.nav-link.active(href="#") Quarterly Concern
//-       li.nav-item
//-         a.nav-link(href="#" id="last") Donate

//-   .masthead
//-     .masthead-container-left.desktop
//-       img(src='https://d3thpuk46eyjbu.cloudfront.net/uploads/production/3720/1538532886/public/patreon_buttonb.png?1538532886')
//-     a.logo-container(href="#")
//-       .logo-text
//-         span.logo-text-span
//-           | M
//-           span.smallcaps c
//-           | Sweeney&rsquo;s
//-     .logo-container
//-       .logo-caption
//-         span.logo-text-span INTERNET TENDENCY
//-         a.strong(href="#")  Celebrating our 21st year
//-     .masthead-container-right.desktop
//-       h5 Daily humor <br> almost every day <br> since 1998.

//- .desktop-nav
//-   .search-container
//-     .nav.navbar.navbar-light.bg-light
//-       form.form-inline
//-          input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
//-   .links-container
//-     ul.nav.justify-content-center
//-       li.nav-item
//-          a.nav-link.active(href="#") Internet Tendency


//-       li::after
//-         a(href="")
//-       li
//-         a(href="")
//-       li
//-         a(href="")
