//- .search-container
//-   .search
//-     span.icons
//-       img.search-icon(src='/assets/search-6dce36f1bf31751b92ecf7aed2a41fb713bc50a327473825b9a5178088884842.svg')
//-     form(action='/articles/search' accept-charset='UTF-8' method='get')
//-       input(name='utf8' type='hidden' value='✓')
//-       input#q(type='search' name='q' placeholder='Search')
