

<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../scss/main.scss")
    script(src="../js/main.js")
  body
    //-  include partials/searchbar.pug, partials/linkbar.pug
    //- .container-fluid
    //-   .row
    //-     .col-4
    //-       .search-container
    //-         .search
    //-           span.icons
    //-             img.search-icon(src='')
    //-           form(action='/articles/search' accept-charset='UTF-8' method='get')
    //-             input(name='utf8' type='hidden' value='✓')
    //-             input#q(type='search' name='q' placeholder='Search')
    //-     .col-8
    //-       .links-container
    //-         ul
    //-           li
    //-             a(href='/') Internet Tendency
    //-           li
    //-             a(href='https://store.mcsweeneys.net') The Store
    //-           li
    //-             a(href='https://store.mcsweeneys.net/t/categories/books') Books Division
    //-           li
    //-             a(href='https://store.mcsweeneys.net/t/categories/timothy-mcsweeneys-quarterly-concern') Quarterly Concern
    //-           li
    //-             a(href='/donate') Donate


  .container-fluid
    .row //- navbar row
    .row header row
    .row  banner break row
    .row
      .col-3 left column
        .row  Lorem ipsum dolor sit amet.
        .row  Lorem ipsum dolor sit amet.
        .row  Lorem ipsum dolor sit amet.
      .col-6  center column
      .col-3  right column
        .row  Lorem ipsum dolor sit amet.
        .row  Lorem ipsum dolor sit amet.
        .row  Lorem ipsum dolor sit amet.
    .row
      .col-9 Lorem ipsum dolor sit amet.
      .col-3 Lorem ipsum dolor sit amet.


Lorem ipsum dolor sit amet.
